.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 0;
    grid-area: 1 / 1 / 6 / 2;
    width: 100%;
}   


.links {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 14px 16px;
   
}